<div class="table-wrap" [style.--table-min-width]="minWidth()">
  <table class="data-table">
    <thead>
      <tr>
        @for (col of columns(); track col.key) {
          <th
            [class.sortable]="col.sortable"
            [class.hide-mobile]="col.hideOnMobile"
            (click)="onSort(col)"
          >
            {{ col.label }}
            @if (col.sortable) { {{ getSortIcon(col.key) }} }
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @if (rowTpl()) {
        @for (row of data(); track trackByFn($index, row)) {
          <tr [class]="getRowClass(row)">
            <ng-container *ngTemplateOutlet="rowTpl()!; context: { $implicit: row, index: $index }" />
          </tr>
        } @empty {
          <tr>
            <td [attr.colspan]="columns().length" class="empty-cell">{{ emptyMessage() }}</td>
          </tr>
        }
      } @else {
        @for (row of data(); track trackByFn($index, row)) {
          <tr [class]="getRowClass(row)">
            @for (col of columns(); track col.key) {
              <td [class]="col.class ?? ''" [class.hide-mobile]="col.hideOnMobile">
                <ng-container *ngComponentOutlet="getCellComponent(col.cell ?? 'text'); inputs: getCellInputs(row, col)" />
              </td>
            }
          </tr>
        } @empty {
          <tr>
            <td [attr.colspan]="columns().length" class="empty-cell">{{ emptyMessage() }}</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
