<div class="table-wrap" [style.--table-min-width]="minWidth()">
  <table class="data-table">
    <thead>
      <tr>
        @if (rowHeaderTpl()) {
          <ng-container *ngTemplateOutlet="rowHeaderTpl()!" />
        } @else {
          @for (col of columns(); track col.key) {
            <th
              [class.sortable]="col.sortable"
              [class.hide-mobile]="col.hideOnMobile"
              [class.text-center]="col.align === 'center'"
              [class.text-right]="col.align === 'right'"
              [style.width]="col.width ?? 'auto'"
              (click)="onSort(col)"
            >
              {{ col.label }}
              @if (col.sortable) { {{ getSortIcon(col.key) }} }
            </th>
          }
        }
      </tr>
    </thead>
    <tbody>
      @if (rowTpl()) {
        @for (row of data(); track trackByFn($index, row)) {
          <tr [class]="getRowClass(row)">
            <ng-container *ngTemplateOutlet="rowTpl()!; context: { $implicit: row, index: $index }" />
          </tr>
        } @empty {
          <tr>
            <td [attr.colspan]="columns().length" class="empty-cell">{{ emptyMessage() }}</td>
          </tr>
        }
      } @else {
        @for (row of data(); track trackByFn($index, row)) {
          <tr [class]="getRowClass(row)">
            @for (col of columns(); track col.key) {
              <td
                [class.hide-mobile]="col.hideOnMobile"
                [class.text-center]="col.align === 'center'"
                [class.text-right]="col.align === 'right'"
              >
                {{ row[col.key] }}
              </td>
            }
          </tr>
        } @empty {
          <tr>
            <td [attr.colspan]="columns().length" class="empty-cell">{{ emptyMessage() }}</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
